/**
        HEADER
 */

.header {
    background-color: skyblue;
    position: absolute;
    width: 100%;
    float: left;
}

.header_icon {
    margin: 10px 20px;
    max-height: 80px;
    float: left;
}

/**
        MAIN MENU
 */

#menu_principal {
    margin: auto;
    width: 50%;
}

#menu_principal h2{
    margin: auto;
}

#opciones_menu_principal {
    width: 60%;
    margin: auto;
}