/**
        GENERAL
 */

.contenido {
    text-align: center;
    margin-top: 175px;
    width: 100%;
    float: left;
}

.tabla {
    border-collapse: collapse;
    margin: auto;
}

tr:nth-child(even) {
    background-color: skyblue;
}

/**
        HEADER
 */

.header {
    background-color: skyblue;
    position: absolute;
    width: 99%;
    float: left;
}

.header_icon {
    margin: 10px 20px;
    max-height: 80px;
    float: left;
}

.menu_header {
    float: left;
    margin: 0.9%;
}

.menu_header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.menu_header li:hover {
    background-color: deepskyblue;
}

.menu_header li {
    float: left;
}

.menu_header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

/**
        MAIN MENU
 */

#menu_principal {
    margin: auto;
    width: 50%;
}

#menu_principal h2{
    margin: auto;
}

#opciones_menu_principal {
    width: 60%;
    margin: auto;
}

#opciones_menu_principal a {
    background-color: #f9b234;
    font-size: 20px;
    color: white;
    display: block;
    padding: 12px;
    margin-top: 20px;
    text-decoration: none;
}

#opciones_menu_principal a:hover {
    background-color: #e09e2a;
    color: white;
    font-weight: bold;
}

/**
        LISTA JUEGOS
 */

.zona_lista_juegos {
    width: 90%;
    margin: auto;
}

.tabla_juegos {
    float: left;
    margin: 20px auto;
}