/**
        GENERAL
 */

.button {
    background-color: #e09e2a;
    min-width: 200px;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 15px 32px;
}

.button:hover {
    background-color: #e09e2a;
    color: white;
    font-weight: bold;
}

.contenido {
    text-align: center;
    margin-top: 175px;
    width: 100%;
    float: left;
}

.tabla {
    border-collapse: collapse;
    margin: auto;
}

td, th {
    border: 1px solid skyblue;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: lightblue;
}

.column2 {
    float: left;
    width: 45%;
    padding: 10px;
}

.row:after {
    width: 100%;
    display: table;
    clear: both;
}

.enlace {
    color: #e09e2a;
    text-decoration-line: underline;
    text-decoration-color: #e09e2a;
}

.enlace:hover {
    color: #e09e2a;
    font-weight: bold;
    text-decoration-line: underline;
    text-decoration-color: #e09e2a;
}

/**
        HEADER
 */

.header {
    background-color: skyblue;
    position: absolute;
    width: 99%;
    float: left;
}

.header_icon {
    margin: 10px 20px;
    max-height: 80px;
    float: left;
}

.menu_header {
    float: left;
    margin: 0.9%;
}

.menu_header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.menu_header li:hover {
    background-color: deepskyblue;
}

.menu_header li {
    float: left;
}

.menu_header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

/**
        LOGIN
 */

.login_background {
    height: 100%;
    position: relative;
    background-color: skyblue;
}

.login_icon {
    margin: 10px 20px;
    max-height: 300px;
}

.login {
    background-color: white;
    border-radius: 10px;
    margin: 0;
    padding: 10px 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.login h1 {
    color: #e09e2a;
    font-family: 'Courier New', serif;
    font-size: 40px;
    font-weight: bold;
}

.login h2 {
    color: #e09e2a;
    font-family: 'Courier New', serif;
    font-size: 30px;
}

.login_form {
    max-width: min-content;
    min-width: 500px;
    text-align: center;
}

/**
        MAIN MENU
 */

#menu_principal {
    margin: auto;
    width: 50%;
}

#menu_principal h2{
    margin: auto;
}

#opciones_menu_principal {
    width: 60%;
    margin: auto;
}

#opciones_menu_principal a {
    background-color: #f9b234;
    font-size: 20px;
    color: white;
    display: block;
    padding: 12px;
    margin-top: 20px;
    text-decoration: none;
}

#opciones_menu_principal a:hover {
    background-color: #e09e2a;
    color: white;
    font-weight: bold;
}

/**
        LISTA JUEGOS
 */

.zona_lista_juegos {
    width: 90%;
    margin: auto;
}

.tabla_juegos {
    float: left;
    margin: 20px auto;
}

/**
        EDITAR JUEGO
 */
.zona_edicion_juego {
    margin: auto;
    width: 70%;
}

.form_edicion_juego {
    margin: 30px 10px 20px;
}

.form_edicion_juego > .button {
    margin-top: 20px;
}

.edit_label {
    float: left;
    color: #f9b234;
    font-weight: bold;
}

.small_text_input {
    width: 75%;
    height: 20px;
    float: left;
}

.big_text_input {
    width: 100%;
    height: 50px;
    text-align: left;
}

/**

 */

.new_item_button {
    float: right;
    margin: 20px auto;
}

/**
        LISTA DE RESULTADOS
 */
.celda_aviso {
    background-color: #e09e2a;
}